
header{
		background-image: url('spices.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 780px;
		width: 100%;
		}

nav{
		z-index: 1;
		background-color: black;
}

.main{
  background-image: url('bgfood1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.carousel{
    background: #512DA8;
}

.carousel-item{
    height: 400px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%
}

.carousel-item .btn{
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   background-color: red;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;">
}


#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;   
    z-index: 1;
}

.card-footer hr{
  background-color: silver
}

.jumbotron{
        padding: 70px 30px 70px 30px;
        margin: 0px auto;
}

.jumbotron .container .row .d-flex .btn:hover{
	background: #ff8800;
	transition: 0.3s
}

.navbar-dark{
        background-color: black;
        height: 100px;
}

#Navbar{
	   margin-left: 43%;
     background-color: black;
  }


#Navbar ul li {
	  display: inline-block;
	  border-radius: 5px;
	  line-height: 30px;
	  margin: 5px;
  }

#Navbar ul li .active, #Navbar ul li a:hover{
	  background: #ff5100;
	  transition: .5s;
	  border-radius: 5px
}

.content-action a:hover{
  background: #ff5100;
    transition: .5s;
    border-radius: 5px
}


#Navbar ul .active {
	  background: #ff5100;
	  transition: .5s;
	  border-radius: 5px;
}

#Navbar ul .nav-item .nav-link{color: white}

/*.navbar-dark .container h3 .navbar-brand img{
	  height: 100%;
	  width: 15%;
	  border-radius: 10px;
	  margin-top: 5px

}*/

.experiance{
	position: relative;
	top: 100px;
	color: white;
}


.gallery .gallery-item {
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: 5px;
  border-bottom: 0px solid #454035;
  border: 3px solid #454035;
 
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  height: 200px;
  width: 100%;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background:  #0c0b09;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: black;
  border-top: 1px solid #37332a;
  border-bottom: 1px solid #28251f;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top .footer-info p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 0;
 
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #28251f;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #cda45e;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #cda45e;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #cda45e;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #28251f;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #454035;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  background: #28251f;
  color: white;
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #ff5100;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #d3af71;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}


.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 995;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: #ffb300;
  transition: all 0.4s;
  border: 2px solid #cda45e;
}

.back-to-top i:hover {
  background: #ffb300;
  color: #1a1814;
}

.container-fluid .card .card-body p b{font-size: 18px}


.card{
    border-radius: 4px;
    
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.60), 0 4px 8px rgba(0,0,0,.06);
}
