
#accordion .card .card-header h5 button b:hover{color: yellow}
#accordion .card .card-header h5 button b{
  color: white;
}

#accordion .card .card-body{
  background: url('wood.jpg');
  background-size: cover;
}

#accordion .card .card-body ol li{font-weight: bold;}


#accordion1 .card .card-header h5 button b:hover{color: yellow}
#accordion1 .card .card-header h5 button b{
  color: white;
}

#accordion1 .card .card-body{
  background: url('wood.jpg');
  background-size: cover;
}

#accordion1 .card .card-body ol li{font-weight: bold;}

#headingOne,#headingTwo,#headingThree,#headingFour,#headingFive,#headingSix,#headingSeven,#headingEight {
  background: black;  
}
header{

        padding: 70px 30px 70px 30px;
        margin: 0px auto;
        height: 400px;
        background-color: transparent;     
}

header .btn{
  background-color: #ff5100;
  border-color: red
}

header .btn:hover{
  background-color: green;
}
.main{
  background-image: url('bgfood2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.navbar-dark{
        background-color: black;
        height: 100px;
}

#Navbar{
	   margin-left: 41%;
     background-color: black;
  }


#Navbar ul li {
	  display: inline-block;
	  border-radius: 5px;
	  line-height: 30px;
	  margin: 5px;
  }

#Navbar ul li .active,#Navbar ul li a:hover{
	  background: #ff5100;
	  transition: .5s;
	  border-radius: 5px
}

#Navbar ul .active {
	  background: #ff5100;
	  transition: .5s;
	  border-radius: 5px;
}

#Navbar ul .nav-item .nav-link{color: white}

/*.navbar .navbar-brand img{
	  height: 90px;
	  width: 150px;
	  border-radius: 10px;
	  margin-top: 0px;
	  padding-top: 0px;
	  position: relative;
	  top: -25px

}*/



.panel{
	text-align: center;
	margin-top: 20px;
}

.panel-body{
	text-align: center;
	margin-left: 0px;
	background-image: url('texture6.jpg');
	background-size: cover;

}

.panel-heading{
	height: 60px;

}

.panel a .panel-heading .panel-title:hover{color: red
											}

.panel a .panel-heading .panel-title {
	color: black;
}


.row-header{
                    margin: 0px auto;
                    padding: 0px auto;

                }

                .row-content{
                    margin: 0px auto;
                    padding: 50px 0px 50px 0px;
                    border-bottom: 1px ridge;
                    min-height: 400px;
                }

               

                
                .address{
                    font-size: 80%;
                    margin: 0px;
                    color: #0f0f0f;
                }

                
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background:  #0c0b09;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: black;
  border-top: 1px solid #37332a;
  border-bottom: 1px solid #28251f;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top .footer-info p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 0;
 
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #28251f;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #cda45e;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #cda45e;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #cda45e;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #28251f;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #454035;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  background: #28251f;
  color: white;
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #ff5100;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #d3af71;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}


.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 995;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: #ffb300;
  transition: all 0.4s;
  border: 2px solid #cda45e;
}

.back-to-top i:hover {
  background: #ffb300;
  color: #1a1814;
}
